@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@import 'blocks/logo';
@import 'blocks/header';
@import 'blocks/catalog';
@import 'blocks/cart';
@import 'blocks/footer';